{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="background-image: url('{{ event.image }}'); height: 50vh; background-size: contain; background-repeat: no-repeat; background-position: 50% 50%;">
</div>
<div class="container">
    <h1 class="text-center my-2">{{ event.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Date / Time</th>
                <td>{{ event.datetime ? event.datetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ event.capacity }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ event.contact }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ event.phone }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ event.location }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ event.address }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ event.zip }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ event.city }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td><a href="{{ event.url }}">{{ event.url }}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a class="btn btn-danger my-3" href="{{ path('events_index') }}">Back</a>
    </div>
</div>
{% endblock %}
